*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #14110E;;
}
html{
    transition: all 700ms;
}
section{
    padding-left: 350px;
    padding-right: 350px;
}

header{
    background-color: #1C1814;;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navbar a{
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}
.home{
    background-image: url(/image/header.png);
    min-height: 90vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
    padding-top: 50px;
}
.home .content h1{
    font-size: 90px;
    color: #fff;
}
.home .content p{
    font-size: 20px;
    color:#eee;
    line-height: 1.8;
    font-weight: lighter;
    padding: 1rem 0;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #C99E71;
    cursor: pointer;
}
.three-coffee{
    display: flex;
    justify-content: space-between;
}
.coffee-history{
    display: flex;
    padding-top: 115px;
}
.coffee-line{
    margin-right: 20px;
}
.coffee-product{
    flex-wrap: wrap;
}
.coffee-content{
    background-color: 
    #1C1814;
}
.product{
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.popular-product{
    background-color: #121315;
    padding: 50px;

}
.coffee-machin{
    display: flex;
}
.machin-content{
    background-color: 
    #1C1814;
}
.machin-box{
    display: flex;
    background-color: 
    #1C1814;
}
.menu-flex{
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-flex .menu1{
    width: 49%;
    display: flex;
    border: 1px solid #32323D;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}
.menu img{
    width: 100px;
    margin-right: 10px;
}
.menu h4{
    text-transform: capitalize;
    letter-spacing: -1px;
    white-space: nowrap;
}
.menu .line{
    margin-top: 10px;
    border-top: 1px dotted white;
    width: 50px;
}
.box{
    display: flex;
}
.coment-right{
    background-color: #1C1814;
    display: flex;
    margin-right: 20px;
    padding: 35px;
}
.coment{
    background-color: #1C1814;
    display: flex;
    padding: 35px;
}
.box-content h2{
    font-size: 20px;
}
.booking{
    display: flex;
}
.booking a{
    margin-left: 90px;
}
.booking-content{
    background-color: 
    #1C1814;
    width: 100%;
    padding: 50px;
}
.booking-list img{
    margin-bottom: 20px;
}
.news-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-box{
    display: flex;
    justify-content: space-between;
}
.news-content{
    background-color: #1C1814;
}
.footer-navbar{
    display: flex;
    align-items: center;
}
.footer-navbar a{
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}
.link{
    align-items: center;
}

