*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1C1814;;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navbar a{
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}
.home{
    background-image: url(/image/header.png);
    min-height: 100vh;
}
