*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #14110E;;
}
html{
    transition: all 700ms;
}
@media (max-width: 991px){
html {
    font-size: 55%;
}
}
section{
    padding-left: 350px;
    padding-right: 350px;transition: all;
}
@media (max-width: 1155px){
    section{
        padding-left: 290px;
        padding-right: 300px;
    }
}
.p{
    font-size: 20px;
    color: #C99E71;
}
.h2{
    font-size: 50px;
    color: #fff;
}
span{
    color: #C99E71;
    font-size: 25px;
}
.h2-white{
    color: #fff;
    font-size: 25px;
}
header{
    background-color: #1C1814;;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .navbar a{
    margin: 0 1rem;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: all 300ms;
}
.header .navbar a:hover{
    color: #C99E71;
    border-bottom: .1rem solid #C99E71;
    padding-bottom: .5rem;
}
.logo{
    margin-left: 130px;
    margin-right: 130px;
}
.home{
    background-image: url(/image/header.png);
    min-height: 90vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 700ms;
}
@media (max-width: 1577px){
    .home{
        padding-left: 340px;
    }
}
.home .content{
    max-width: 50rem;
    padding-top: 50px;
}
@media (max-width: 600px){
    .home .content{ 
         padding-left: 50px;
    }
}
.home .content h1{
    font-size: 90px;
    color: #fff;
    transition: all 700ms;
}
@media (max-width: 1577px){
    .home .content h1{
        font-size:80px;
    }
}
.home .content p{
    font-size: 20px;
    color:#eee;
    line-height: 1.8;
    font-weight: lighter;
    padding: 1rem 0;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #C99E71;
    cursor: pointer;
    transition: all 500ms;
}
.btn:hover{
    letter-spacing: .2rem;
}
.three-coffee{
    display: flex;
    justify-content: center;
}
@media (max-width: 1155px){
    .three-coffee{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    section{
        padding-left: 0px;
        padding-right: 0px;
    }   
}
.coffee-three{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}
@media (max-width: 1155px){
    .coffee-three img{
        width: 100%;
        height: 100%;
    }
    .coffee-three-end img{
        width: 100%;
        height: 100%;
    }
}
.coffee-history{
    display: flex;
    padding-top: 115px;
}
.coffee-line{
    margin-right: 20px;
}
.coffee-line img{
    width: 250%;
}
.coffee-product{
    flex-wrap: wrap;
}
.coffee-content{
    background-color: 
    #1C1814;
    padding: 60px;
    height: 635px;
}
.slide{
    justify-content: space-between;
}
.product{
    display: flex;
    justify-content: center;
    padding: 70px;
    flex-wrap: wrap;
}
.popular-product{
    background-color: #121315;
    padding: 50px;
    width: 100%;
    height: 100%;
}
.popular-product img{
    width: 100%;
    height: 100%;
}
.coffee-machin{
    display: flex;
}
.machin-content{
    background-color: 
    #1C1814;
}
.machin-box{
    display: flex;
    background-color: 
    #1C1814;
}
.menu-flex{
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-flex .menu1{
    width: 49%;
    display: flex;
    border: 1px solid #32323D;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}
.menu img{
    width: 100px;
    margin-right: 10px;
}
.menu h4{
    text-transform: capitalize;
    letter-spacing: -1px;
    white-space: nowrap;
}
.menu .line{
    margin-top: 10px;
    border-top: 1px dotted white;
    width: 50px;
}
.box{
    display: flex;
    justify-content: center;
}
.coment-right{
    background-color: #1C1814;
    display: flex;
    margin-right: 20px;
    padding: 35px;
}
.coment{
    background-color: #1C1814;
    display: flex;
    padding: 35px;
}
.box-content h2{
    font-size: 20px;
}
.booking{
    display: flex;
    justify-content: center;
}
@media (max-width: 1300px){
    .booking{
        flex-wrap: wrap;
    }
}
.booking img{
    width: 100%;
    height: 100%;
}
.booking a{
    margin-left: 90px;
}
.booking-content{
    background-color: 
    #1C1814;
    width: 100%;
    padding: 50px;
}
.booking-list img{
    margin-bottom: 20px;
}
.news-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-box{
    display: flex;
    justify-content: center;
}    
.news-content{
    background-color: #1C1814;
}
.footer-navbar{
    display: flex;
    align-items: center;
}
.footer-navbar a{
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
    transition: all 300ms;
}
.footer-navbar a:hover{
    color: #C99E71;
    border-bottom: .1rem solid #C99E71;
    padding-bottom: .5rem;
}
.link{
    align-items: center;
}

